<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="flex py-[7.5rem] 2xl:px-[7rem] justify-center lg:justify-between"
    >
      <div class="lg:w-[40%] w-100">
        <!-- Logo Component -->
        <div
          class="flex items-center pt-[3px] pb-[3px] gap-[7px] justify-center"
        >
          <img src="../../assets/icon/wpf_books.svg" />
          <h1 class="font-black sm:text-[26px] lg:text-[30px]">
            MyTSU Classroom
          </h1>
        </div>
        <div>
          <h1 class="font-black sm:text-[18px] lg:text-[24px] mt-12">
            Thank You
          </h1>
          <p class="text-[#9F9F9F] my-5">
            Please check your email periodically to see the approval from the
            admin.
          </p>
        </div>
        <div>
          <div>
            <a href="./login.html" type="submit" class="bck-btn text-[#2d85c5]">
              Back to login
            </a>
          </div>
        </div>
      </div>
      <div
        class="onboard-img-cont w-[50%] hidden lg:flex items-center justify-center"
      >
        <img src="../../assets/img/onboard.svg" />
      </div>
    </div>
  </body>
  <script src="../../assets/js/auth.js"></script>
</html>
