<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="flex py-[7.5rem] 2xl:px-[7rem] justify-center lg:justify-between"
    >
      <div class="lg:w-[40%] w-100">
        <!-- Logo Component -->
        <div
          class="flex items-center pt-[3px] pb-[3px] gap-[7px] justify-center"
        >
          <img src="../../assets/icon/wpf_books.png" />
          <h1 class="font-black sm:text-[26px] lg:text-[30px]">
            MyTSU Classroom
          </h1>
        </div>
        <div>
          <h1 class="font-black sm:text-[18px] lg:text-[24px] mt-12">
            Reset Password
          </h1>
          <p class="text-[#9F9F9F] my-5">
            Choose a strong, unique password that meets our security
            requirements.
          </p>
        </div>
        <!-- Input Container -->
        <div>
          <form method="" action="" id="loginForm">
            <!-- Input Component -->
            <div>
              <label> New Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                required
                placeholder="Password"
                name="new_pass"
              />
            </div>
            <div class="my-5">
              <label> Confirm Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                required
                placeholder="Password"
                name="confirm_pass"
              />
            </div>

            <button
              onclick="window.location.href='./forgot_pass_fb.html'"
              type="submit"
              class="login-btn sm:py-[16px] py-[10px]"
            >
              Update Password
            </button>
          </form>
        </div>
      </div>
      <div
        class="onboard-img-cont w-[50%] hidden lg:flex items-center justify-center"
      >
        <img src="../../assets/img/onboard.png" />
      </div>
    </div>
  </body>
</html>
