<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="border-b-4 border-[#2D85C5]">
      <nav class="flex justify-between py-8">
        <div>
          <div
            class="flex items-center py-8 pt-[3px] pb-[3px] gap-[7px] justify-center"
          >
            <img src="../../assets/icon/wpf_books.svg" width="28px" />
            <h1 class="font-black sm:text-[24px] lg:text-[24px]">
              MyTSU Classroom
            </h1>
          </div>
        </div>
        <div>
          <div class="flex items-center text-[18px] font-bold gap-[30px]">
            <a href="../mainPage/autumn_schedule.html">Home</a>
            <!-- untuk opsi Administration Page hanya admin yang bisa akses dan melihat -->
            <a href="../adminPage/admin.html">Administration</a>
            <div class="relative">
              <button onclick="showProfile()">
                <img src="../../assets/img/profile.svg" id="avatarProfile" width="48px" height="48px" />
              </button>
              <div id="profileModal" class="absolute fade profile-modal" hidden>
                <a
                  href="../mainPage/profile_page.html"
                  class="flex gap-[6px] items-center mb-2 profile-link"
                >
                  <img
                    src="../../assets/icon/icon_profiledark.svg"
                    style="width: 16px; height: 16px"
                  />
                  <span>Profile</span>
                </a>
                <a
                  href="../authPage/login.html"
                  class="flex gap-[6px] items-center profile-link"
                >
                  <img
                    src="../../assets/icon/half-circle.svg"
                    style="width: 16px; height: 16px"
                  />
                  <span>Log out</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="pt-[5em]">
        <div class="w-[45%]">
          <span
            class="lg:text-center text-[24px] pb-[20px] font-bold border-b-4 border-[#2D85C5]"
          >
            Change Password
          </span>
          <div class="my-[40px] w-[70%] text-[#9F9F9F]">
            <p>
              Choose a strong, unique password that meets our security
              requirements.
            </p>
          </div>
          <form method="PUT"
           id="changePass" class="grid gap-[20px]">
            <div>
              <label> New Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                placeholder="Password"
                id="new_pass"
                name="new_pass"
              />
            </div>
            <div>
              <label> Confirm Password </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="password"
                placeholder="Password"
                id="new_pass_confirm"
                name="new_pass_confirm"
              />
            </div>

            <div class="font-bold mt-[1em]">
              <button
                type="button"
                onclick="changePassFormSubmit()"
                class="bg-[#2D85C5] w-[100%] text-[#fff] rounded-full py-[15px] px-[8px] save-change"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="../../config.js"></script>
  <script src="../../assets/js/guest.js"></script>
  <script src="../../assets/js/session.js"></script>
  <script src="../../assets/js/utils.js"></script>
  <script>
    // Change Password
    function changePassFormSubmit() {
        const newPassword = document.getElementById('new_pass').value;
        const confirmPassword = document.getElementById('new_pass_confirm').value;

        fetch(`${appUrl}/api/change-password`, {
            method: 'PUT',
            headers: {
                'Authorization': `Bearer ${savedData}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                "newPassword": newPassword,
                "confirmPassword": confirmPassword,
            })
        })
        .then(response => {
            if (response.status === 400) {
                alert('The new password and password confirmation do not match.')
            }
        })
        .then(data => {
            console.log('Password Update successful:', data);
            alert('Password has been updated successfully')
        })
        .catch(error => {
            console.error('Error during Password Update:', error.message);
        });
    }
  </script>
</html>