<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="border-b-4 border-[#2D85C5]">
      <nav class="flex justify-between py-8">
        <div>
          <div
            class="flex items-center py-8 pt-[3px] pb-[3px] gap-[7px] justify-center"
          >
            <img src="../../assets/icon/wpf_books.svg" width="28px" />
            <h1 class="font-black sm:text-[24px] lg:text-[24px]">
              MyTSU Classroom
            </h1>
          </div>
        </div>
        <div>
          <div class="flex items-center text-[18px] font-bold gap-[30px]">
            <a id="home">Home</a>
            <!-- untuk opsi Administration Page hanya admin yang bisa akses dan melihat -->
            <a id="administration" href="../adminPage/admin.html">Administration</a>
            <div class="relative">
              <button onclick="showProfile()">
                <img src="../../assets/img/profile.svg" id="avatarProfile" width="48px" height="48px" />
              </button>
              <div id="profileModal" class="absolute fade profile-modal" hidden>
                <a
                  href="./profile_page.html"
                  class="flex gap-[6px] items-center mb-2 profile-link"
                >
                  <img
                    src="../../assets/icon/icon_profiledark.svg"
                    style="width: 16px; height: 16px"
                  />
                  <span>Profile</span>
                </a>
                <a
                  id="logoutLink" href=""
                  class="flex gap-[6px] items-center profile-link"
                >
                  <img
                    src="../../assets/icon/half-circle.svg"
                    style="width: 16px; height: 16px"
                  />
                  <span>Log out</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="pt-[5em] lg:flex">
        <div class="">
          <span
            class="lg:text-center text-[24px] pb-[20px] font-bold border-b-4 border-[#2D85C5]"
          >
            Profile
          </span>
          <div class="mt-[5em] relative">
            <form method="POST"
            onsubmit="profileFormSubmit(event)"
            id="profileForm" 
            
          >
            <img
              class="object-cover rounded-full w-[219px] h-[219px]"
              style="margin: auto"
              id="avatarDisplay"
            />
            <div class="absolute bottom-6 left-[22%]">
              <label class="labelImage" for="avatar">
                <div class="text-center text-[white]">
                  <p>Change Avatar</p>
                </div>
              </label>
              <input
                id="avatar"
                name="avatar"
                type="file"
                style="display: none"
                accept="image/*"
              />
            </div>
          </div>
          <div class="mt-[28px] text-center font-bold">
            <a href="./change_pass.html">Change Password</a>
          </div>
        </div>
        <div class="w-[45%] ml-[10em]">
          <span class="text-[24px] font-bold"> Personal Information </span>
          <div class="mt-[20px] grid gap-[20px]">
            <div>
              <label> Name </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="text"
                placeholder="John Doe"
                name="name"
                id="name"
              />
            </div>
            <div>
              <label> Birth of Date </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="date"
                name="birthDate"
                id="birthDate"
              />
            </div>
            <div>
              <label> Phone Number </label>
              <br />
              <input
                class="onboard-input focus:outline-[#2d85c5]"
                type="text"
                required
                placeholder="081212121212"
                name="phone"
                id="phone"
              />
            </div>
            <div class="flex gap-[30px] font-bold">
              <button
                type="submit"
                class="bg-[#CAD4DE] text-[#fff] rounded py-[10px] px-[8px] save-change"
              >
                Save Changes
              </button>
              <button class="py-[10px] px-[8px] rounded cancel-change">
                Cancel
              </button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </main>
  </body>
  <script src="../../config.js"></script>
  <script src="../../assets/js/guest.js"></script>
  <script src="../../assets/js/session.js"></script>
  <script src="../../assets/js/utils.js"></script>
  <script>
    fetch(`${appUrl}/api/user?userId=${decodedPayload.sub}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('name').value = data.name;
      document.getElementById('phone').value = data.phone;

      var date = new Date(data.birthDate);
      var year = date.getFullYear();
      var month = ('0' + (date.getMonth() + 1)).slice(-2);
      var day = ('0' + date.getDate()).slice(-2);
      var formattedDate = year + '-' + month + '-' + day;

      document.getElementById('birthDate').value = formattedDate;

      console.log('Data berhasil dikirim:', data);
    })
    .catch(error => {
      console.error('Terjadi kesalahan:', error);
    });
  </script>
  <script src="../../assets/js/profile.js"></script>
  <script src="../../assets/js/logout.js"></script>
</html>